-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: sigaluh2
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_settings`
--

DROP TABLE IF EXISTS `app_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_settings`
--

LOCK TABLES `app_settings` WRITE;
/*!40000 ALTER TABLE `app_settings` DISABLE KEYS */;
INSERT INTO `app_settings` VALUES (1,'penandatangan_nama','PIMPINAN CDK WILAYAH NGANJUK','2026-08-02 07:33:57','2026-08-02 07:33:57'),(2,'penandatangan_nip','','2026-08-02 07:33:57','2026-08-02 07:33:57'),(3,'penandatangan_jabatan','Kepala Cabang Dinas Kehutanan Wilayah Nganjuk','2026-08-02 07:33:57','2026-08-02 07:33:57'),(4,'tampilkan_ttd_pimpinan','0','2026-08-02 07:39:21','2026-08-02 07:39:52');
/*!40000 ALTER TABLE `app_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kegiatan`
--

DROP TABLE IF EXISTS `kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kegiatan` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `provinsi_id` int unsigned DEFAULT NULL,
  `kabupaten_id` int unsigned DEFAULT NULL,
  `kecamatan_id` int unsigned DEFAULT NULL,
  `desa_id` int unsigned DEFAULT NULL,
  `kth_id` int unsigned DEFAULT NULL,
  `kth_nama_manual` varchar(255) DEFAULT NULL,
  `tusi_id` int unsigned NOT NULL,
  `aktivitas_harian_id` int unsigned DEFAULT NULL,
  `volume` int unsigned NOT NULL DEFAULT '1',
  `durasi_menit` int unsigned NOT NULL DEFAULT '0',
  `kegiatan_tusi_id` int unsigned NOT NULL,
  `uraian_kegiatan` text NOT NULL,
  `detail_kegiatan` text,
  `substansi_materi` text,
  `lokasi` text,
  `sasaran_hadir` text,
  `pelaksanaan_kegiatan` text,
  `kesimpulan_saran` text,
  `permasalahan_kendala` text,
  `solusi` text,
  `status` enum('draft','submitted','direview') NOT NULL DEFAULT 'submitted',
  `catatan_pimpinan` text,
  `direview_oleh` int unsigned DEFAULT NULL,
  `direview_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `provinsi_id` (`provinsi_id`),
  KEY `kabupaten_id` (`kabupaten_id`),
  KEY `kecamatan_id` (`kecamatan_id`),
  KEY `desa_id` (`desa_id`),
  KEY `kth_id` (`kth_id`),
  KEY `kegiatan_tusi_id` (`kegiatan_tusi_id`),
  KEY `direview_oleh` (`direview_oleh`),
  KEY `idx_kegiatan_user_tanggal` (`user_id`,`tanggal`),
  KEY `idx_kegiatan_tusi` (`tusi_id`),
  KEY `idx_kegiatan_status` (`status`),
  KEY `fk_kegiatan_aktivitas_harian` (`aktivitas_harian_id`),
  CONSTRAINT `fk_kegiatan_aktivitas_harian` FOREIGN KEY (`aktivitas_harian_id`) REFERENCES `m_aktivitas_harian` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_2` FOREIGN KEY (`provinsi_id`) REFERENCES `m_provinsi` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_3` FOREIGN KEY (`kabupaten_id`) REFERENCES `m_kabupaten` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_4` FOREIGN KEY (`kecamatan_id`) REFERENCES `m_kecamatan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_5` FOREIGN KEY (`desa_id`) REFERENCES `m_desa` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_6` FOREIGN KEY (`kth_id`) REFERENCES `m_kth` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_7` FOREIGN KEY (`tusi_id`) REFERENCES `m_tusi` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_8` FOREIGN KEY (`kegiatan_tusi_id`) REFERENCES `m_kegiatan_tusi` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `kegiatan_ibfk_9` FOREIGN KEY (`direview_oleh`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kegiatan`
--

LOCK TABLES `kegiatan` WRITE;
/*!40000 ALTER TABLE `kegiatan` DISABLE KEYS */;
INSERT INTO `kegiatan` VALUES (1,3,'2026-08-02',1,18,371,4581,1,NULL,1,NULL,1,0,3,'Melaksanakan kegiatan rehabilitasi di luar kawasan hutan negara','kbr','Teknik Penanaman dan Pemeliharaan Pohon','ds oro oro ombo','Pengurus dan Anggota KTH Wilis Asri','sudah bisa menanam semua','kalo tidak ada dana maka pinjam ke bank dulu','tidak ada dana','pinjam ke bank','direview','sudah oke',4,'2026-08-02 13:39:21','2026-08-02 07:25:07','2026-08-02 13:39:21');
/*!40000 ALTER TABLE `kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kegiatan_lampiran`
--

DROP TABLE IF EXISTS `kegiatan_lampiran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kegiatan_lampiran` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kegiatan_id` int unsigned NOT NULL,
  `nama_file` varchar(255) NOT NULL,
  `path_file` varchar(255) NOT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `kegiatan_id` (`kegiatan_id`),
  CONSTRAINT `kegiatan_lampiran_ibfk_1` FOREIGN KEY (`kegiatan_id`) REFERENCES `kegiatan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kegiatan_lampiran`
--

LOCK TABLES `kegiatan_lampiran` WRITE;
/*!40000 ALTER TABLE `kegiatan_lampiran` DISABLE KEYS */;
/*!40000 ALTER TABLE `kegiatan_lampiran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_aktivitas_harian`
--

DROP TABLE IF EXISTS `m_aktivitas_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_aktivitas_harian` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nama_aktivitas` varchar(255) NOT NULL,
  `satuan` varchar(100) NOT NULL,
  `wpt_menit` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_aktivitas_harian`
--

LOCK TABLES `m_aktivitas_harian` WRITE;
/*!40000 ALTER TABLE `m_aktivitas_harian` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_aktivitas_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_desa`
--

DROP TABLE IF EXISTS `m_desa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_desa` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kecamatan_id` int unsigned NOT NULL,
  `kode` varchar(15) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_desa_kec` (`kecamatan_id`),
  CONSTRAINT `m_desa_ibfk_1` FOREIGN KEY (`kecamatan_id`) REFERENCES `m_kecamatan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8459 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_desa`
--

LOCK TABLES `m_desa` WRITE;
/*!40000 ALTER TABLE `m_desa` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_desa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_kabupaten`
--

DROP TABLE IF EXISTS `m_kabupaten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_kabupaten` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `provinsi_id` int unsigned NOT NULL,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_kab_prov` (`provinsi_id`),
  CONSTRAINT `m_kabupaten_ibfk_1` FOREIGN KEY (`provinsi_id`) REFERENCES `m_provinsi` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_kabupaten`
--

LOCK TABLES `m_kabupaten` WRITE;
/*!40000 ALTER TABLE `m_kabupaten` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_kabupaten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_kecamatan`
--

DROP TABLE IF EXISTS `m_kecamatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_kecamatan` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kabupaten_id` int unsigned NOT NULL,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_kec_kab` (`kabupaten_id`),
  CONSTRAINT `m_kecamatan_ibfk_1` FOREIGN KEY (`kabupaten_id`) REFERENCES `m_kabupaten` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=666 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_kecamatan`
--

LOCK TABLES `m_kecamatan` WRITE;
/*!40000 ALTER TABLE `m_kecamatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_kecamatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_kegiatan_tusi`
--

DROP TABLE IF EXISTS `m_kegiatan_tusi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_kegiatan_tusi` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tusi_id` int unsigned NOT NULL,
  `uraian_tugas` text NOT NULL,
  `substansi_materi` text,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_kegtusi_tusi` (`tusi_id`),
  CONSTRAINT `m_kegiatan_tusi_ibfk_1` FOREIGN KEY (`tusi_id`) REFERENCES `m_tusi` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_kegiatan_tusi`
--

LOCK TABLES `m_kegiatan_tusi` WRITE;
/*!40000 ALTER TABLE `m_kegiatan_tusi` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_kegiatan_tusi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_kth`
--

DROP TABLE IF EXISTS `m_kth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_kth` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(150) NOT NULL,
  `no_sk` varchar(100) DEFAULT NULL,
  `tanggal_sk` date DEFAULT NULL,
  `kelas_kelompok` varchar(50) DEFAULT NULL,
  `ketua` varchar(100) DEFAULT NULL,
  `jumlah_anggota` int unsigned DEFAULT NULL,
  `luas_lahan_ha` decimal(10,2) DEFAULT NULL,
  `provinsi_id` int unsigned DEFAULT NULL,
  `kabupaten_id` int unsigned DEFAULT NULL,
  `kecamatan_id` int unsigned DEFAULT NULL,
  `desa_id` int unsigned DEFAULT NULL,
  `kontak` varchar(50) DEFAULT NULL,
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `provinsi_id` (`provinsi_id`),
  KEY `kabupaten_id` (`kabupaten_id`),
  KEY `kecamatan_id` (`kecamatan_id`),
  KEY `desa_id` (`desa_id`),
  CONSTRAINT `m_kth_ibfk_1` FOREIGN KEY (`provinsi_id`) REFERENCES `m_provinsi` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `m_kth_ibfk_2` FOREIGN KEY (`kabupaten_id`) REFERENCES `m_kabupaten` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `m_kth_ibfk_3` FOREIGN KEY (`kecamatan_id`) REFERENCES `m_kecamatan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `m_kth_ibfk_4` FOREIGN KEY (`desa_id`) REFERENCES `m_desa` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_kth`
--

LOCK TABLES `m_kth` WRITE;
/*!40000 ALTER TABLE `m_kth` DISABLE KEYS */;
INSERT INTO `m_kth` VALUES (1,'KTH Wilis Asri','',NULL,'Pemula','Joko',50,1500.00,1,18,371,4581,'081359009977','','2026-08-02 07:21:45','2026-08-02 07:21:45');
/*!40000 ALTER TABLE `m_kth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_provinsi`
--

DROP TABLE IF EXISTS `m_provinsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_provinsi` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_provinsi`
--

LOCK TABLES `m_provinsi` WRITE;
/*!40000 ALTER TABLE `m_provinsi` DISABLE KEYS */;
INSERT INTO `m_provinsi` VALUES (1,'35','Jawa Timur');
/*!40000 ALTER TABLE `m_provinsi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_roles`
--

DROP TABLE IF EXISTS `m_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_roles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) NOT NULL,
  `nama` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_roles`
--

LOCK TABLES `m_roles` WRITE;
/*!40000 ALTER TABLE `m_roles` DISABLE KEYS */;
INSERT INTO `m_roles` VALUES (1,'admin','Admin'),(2,'pimpinan','Pimpinan'),(3,'penyuluh','Penyuluh');
/*!40000 ALTER TABLE `m_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_tusi`
--

DROP TABLE IF EXISTS `m_tusi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m_tusi` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) NOT NULL,
  `nama` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_tusi`
--

LOCK TABLES `m_tusi` WRITE;
/*!40000 ALTER TABLE `m_tusi` DISABLE KEYS */;
INSERT INTO `m_tusi` VALUES (1,'RLPM','Seksi RLPM'),(2,'TKUK','Seksi TKUK'),(3,'TU','Sub Bagian TU'),(5,'NONTUSI','Non TUSI');
/*!40000 ALTER TABLE `m_tusi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_wilayah_kerja`
--

DROP TABLE IF EXISTS `user_wilayah_kerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_wilayah_kerja` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `kecamatan_id` int unsigned NOT NULL,
  `desa_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_kecamatan_id` (`kecamatan_id`),
  KEY `idx_desa_id` (`desa_id`),
  CONSTRAINT `fk_uwk_desa` FOREIGN KEY (`desa_id`) REFERENCES `m_desa` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_uwk_kec` FOREIGN KEY (`kecamatan_id`) REFERENCES `m_kecamatan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_uwk_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_wilayah_kerja`
--

LOCK TABLES `user_wilayah_kerja` WRITE;
/*!40000 ALTER TABLE `user_wilayah_kerja` DISABLE KEYS */;
INSERT INTO `user_wilayah_kerja` VALUES (4,3,374,NULL,'2026-08-02 07:20:07'),(5,3,386,NULL,'2026-08-02 07:20:07'),(6,3,371,4575,'2026-08-02 07:20:07'),(7,3,371,4573,'2026-08-02 07:20:07'),(8,3,371,4578,'2026-08-02 07:20:07'),(9,3,371,4581,'2026-08-02 07:20:07');
/*!40000 ALTER TABLE `user_wilayah_kerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nip` varchar(20) NOT NULL,
  `nama` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int unsigned NOT NULL,
  `pangkat_golongan` varchar(20) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `wilayah_kerja_kabupaten_id` int unsigned DEFAULT NULL,
  `wilayah_kerja_kecamatan_id` int unsigned DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `foto_profil` varchar(255) DEFAULT NULL,
  `status_aktif` tinyint(1) NOT NULL DEFAULT '1',
  `last_login` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nip` (`nip`),
  KEY `role_id` (`role_id`),
  KEY `wilayah_kerja_kabupaten_id` (`wilayah_kerja_kabupaten_id`),
  KEY `wilayah_kerja_kecamatan_id` (`wilayah_kerja_kecamatan_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `m_roles` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `users_ibfk_2` FOREIGN KEY (`wilayah_kerja_kabupaten_id`) REFERENCES `m_kabupaten` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `users_ibfk_3` FOREIGN KEY (`wilayah_kerja_kecamatan_id`) REFERENCES `m_kecamatan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-06 10:06:27
